.review-section table {
    width: 100%;
    border-collapse: collapse;
}

.review-section th, .review-section td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

.review-section h2 {
    margin-bottom: 15px;
}