.s9-4 {
    padding: 20px;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .gf {
    font-family: "Nanum Brush Script", cursive;
    font-size: 120px;
  }

  .gff {
    font-family: "Nanum Brush Script", cursive;
    font-size: 50px;
  }

  .gfff {
    font-family: "Nanum Brush Script", cursive;
    font-weight: 500;
    font-size: 30px;
  }


  /* 이미지를 감싸고 있는 div에 스타일 적용 */
  .container img {
    max-width: 100%;
    transition: transform 0.5s ease;
  }

  .fix {
    width: 200px;
    margin: 0px auto;
    overflow: hidden;
  }

  /* 마우스가 이미지 위에 올려졌을 때 스타일 적용 */
  .container img:hover {
    transform: scale(1.2);
  }

  /*슬라이드 메뉴*/
/* 기본적으로 메뉴를 숨김 */
.hideMenuBody {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* 메뉴를 화면 밖으로 숨김 */
}

.VirtualView:hover .hideMenuBody,
.VirtualView.fixed .hideMenuBody {
  display: block;
  transform: translateX(0); /* 마우스를 올리거나 고정되면 메뉴가 나타남 */
}

.circleBt {
  position: fixed;
  top: 20px;
  left: 0;
  background-color: #333;
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: left 0.3s ease;
}

.VirtualView:hover .circleBt,
.VirtualView.fixed .circleBt {
  left: 250px; /* 메뉴가 열리면 버튼도 오른쪽으로 이동 */
}

.menu-item {
  margin: 15px 0;
  cursor: pointer;
}
