/* 기본 스타일 */
 
/* 모달 배경 */
.modal {
    display: none; /* 처음에는 모달을 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* 오퍼시티 80% */
     z-index: 1000;
}
.modal1 {
    display: none; /* 처음에는 모달을 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
     z-index: 1000;
}

/* 모달 콘텐츠 */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}

/* 닫기 버튼 */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* 인풋 박스 기본 스타일 */
input[type="text1"], input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 인풋 박스 호버 시 색상 변경 */
input[type="text1"]:hover, input[type="password"]:hover {
    border-color: #66a3ff;
}

/* 인풋 박스 포커스 시 색상 변경 */
input[type="text1"]:focus, input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

/* 회원가입 버튼 스타일 */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

    